@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500;700&display=swap");


body {
}


.auth_jumbotron {
    align-self: center;
    background: linear-gradient(to left, #d0d0d0 20%, white 50%);
    width: calc(22% + 150px);
    margin-top: 60px;
    border-radius: 10px;
}

div.main_auth_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    align-content: center;
    width: 100%;
}

div.authpanel_div {
    width:80%;
    margin-top: calc(10px + 1vw);
}

div.authaction_div {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: calc(15px + 1vw);
}

h1.auth_page_header {
    margin-top: 20px;
    margin-bottom: calc(10px + 1vw);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    font-size: calc(30px + 1.5vw);
    color: #373737;
    -webkit-text-stroke: 1px #373737;
    text-shadow: calc(1px + 0.09vw) calc(1px + 0.09vw) 2px black;
}

h2.authpanel_header {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: calc(15px + 1vw);
    color: #373737;
    -webkit-text-stroke: 1px #373737;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
}

input.auth_input {
    position: relative;
    width: 100%;
    border-radius: 5px;
    font-size: calc(6px + 1vw);
    background-color: #414141;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
    border-color: black;
    border-width: 2px;
}

.auth_input::placeholder {
    color: #d5d4d4;
    opacity: 1; /* Firefox */
}

.auth_input::-ms-input-placeholder { /* Edge 12 -18 */
    color: #d5d4d4;
}

button.transistive_button {
    border-color: transparent;
    background-color: transparent;
    color: #004AAD;
    font-size: calc(7px + 0.5vw);
    -webkit-text-stroke: 1px #004AAD;
    text-shadow: 1px 1px 2px black;
}

button.transistive_button:hover {
    color: #004bff;
    -webkit-text-stroke: 1px #004bff;
    text-shadow: 1px 1px 2px black;
}

button.action_button {
    padding-top: calc(1px + 0.2vw);
    padding-bottom: calc(1px + 0.2vw);
    padding-left: calc(2px + 1vw);
    padding-right: calc(2px + 1vw);
    margin-top: calc(10px + 1vw);
    margin-bottom: calc(3px + 1vw);
    font-size: calc(15px + 1vw);
    border-radius: 5px;
    background: linear-gradient(to right, #1E1D1D, #504F4F);
    border-color: transparent;
    border-width: 0px;
    color: white;
}

button.action_button:hover {
    background: #006bfb;
}