@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500&display=swap");

div.contacts_container {
    display: flex;
    width:100%;
    flex-direction: column;
    align-content:center;
    justify-content:center;
}

div.contacts_main_container {
    align-self: center;
    justify-self:center;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
}

div.contacts_map_container {
    display: inline-block;
}

div.contacts_context_container {
    display: inline-block;
}

div.main_container_segment {
    vertical-align: top;
    display: inline-block;
    width: 49.8%;
}

div.main_container_segment_content {
    display: flex;
    flex-direction: column;
    align-self:center;
    align-content:center;
    width: 100%;
}

div.location_map {
    align-self: center;
    width: 90%;
    height: 95%;
    border-radius: 5px;
}

div.contact_details {
    display:flex;
    align-self:center;
    flex-direction:column;
    margin-left:120px;
    width:100%;
}

div.contact_details_section {
    margin-top:10px;
    margin-bottom:10px;
}

.contacts_jumbotron {
    margin-top: 80px;
    background: linear-gradient(to right, #e5e3e3, #b7b7b7);
    align-self: center;
    width: 75%;
    height: 100%;
    opacity: 85%;
    border-radius: 10px;
}

h1.contacts_page_heading {
    width: fit-content;
    align-self: center;
    justify-self: center;
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: calc(45px + 1vw);
    color: #4b4b4b;
    -webkit-text-stroke: 1px #373737;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
    margin-top: 20px;
    margin-bottom: 70px;
}

h2.contact_details_section_heading {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: calc(23px + 1vw);
    color: #4b4b4b;
    -webkit-text-stroke: 1px #212121;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
}

p.contact_details_section_detail {
    width: calc(100% - 120px);
    font-family: 'JetBrains Mono', monospace;
    font-weight: 300;
    font-size: calc(14px + 1vw);
    color: #2c2c2c;
    -webkit-text-stroke: 1px #0c0c0c;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
}