@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500;700&display=swap");

div.location-selection-div {
    display: flex;
    flex-direction: row;
}

div.label-div {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

div.halls_container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: linear-gradient(to right, white, #dcdcdc);
}

div.hall_element {
    padding:10px;
    display: inline-block;
    align-self:center;
    width: 100%;
    height: fit-content;
    background: linear-gradient(to right, white, #dcdcdc);
    border: 3px solid black;
}

div.hall_element_inner{
    display:inline-block;
    width:100%;
    height:fit-content;
}

div.main_halls_container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

div.halls_container_inner {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

div.image_element_section {
    align-self:center;
    display: inline-block;
    width: 49.8%;
    height: calc(200px + 10vw);
    min-height: calc(200px + 10vw);
    vertical-align: top;
}

div.details_element_section {
    display: inline-block;
    width: 49.8%;
    height: calc(200px + 10vw);
    vertical-align: top;
}

div.custom_carousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
}

div.details_div{
    display:flex;
    flex-direction:column;
    width:100%;
    height:fit-content;
}

div.details_div_inner {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

div.details_div_inner_section {
    display:flex;
    flex-direction:row;
    margin-left:10px;
    margin-right:10px;
}

div.details_div_inner_sections {
    display: flex;
    flex-direction: column;
}

div.details_div_inner_sections_main{
    align-self:center;
    width:fit-content;
}

div.main_details_div {
    margin-top: 30px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

div.date_picker {
    width:50%;
}

div.amenities_item {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    background: white;
    color: black;
    word-wrap: break-word;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: calc(6px + 1vw);
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.amenities_identifier_div {
    position: sticky;
    border-radius: 4px;
    top: 0px;
    height: 50px;
    background: linear-gradient(to right,#bdbdbd, #a7a7a7);
    text-align: center;
}

div.book_section {
    display: inline-block;
    width: 100%;
    background-color: black;
    vertical-align: top;
}

div.reservation-div {
    border-radius: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    background: linear-gradient(to right, #5a5959, #828181);
}

div.reservation-content {
    display:flex;
    flex-direction:column;
    padding:30px;
    display: flex;
    align-self: center;
    width: fit-content;
}

div.hour_picker_div
{
    display:flex;
    flex-direction:column;
}

div.hour_picker_row 
{
    align-self:center;
}

div.main_sub_section {
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 20px;
}

div.sub_section {
    display: inline-block;
}

h2.element_name {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    align-self: center;
    word-wrap: break-word;
    margin-top: 2px;
    margin-bottom: 40px;
    font-size: calc(35px + 1vw);
    text-align: center;
    color: black;
}

select.select-location {
    margin-left: 15px;
    margin-right: 15px;
}

.left_selection_button {
    align-self: flex-start;
}

.right_selection_button {
    align-self: flex-end;
}

button.booking_button {
    font-family: 'JetBrains Mono', monospace;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: 700;
    align-self: center;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: calc(16px + 1vw);
    color: white;
    -webkit-text-stroke: 1px #212121;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
    background: linear-gradient(to right, green, #34ca01);
    border-width: 0px;
    border: 2px solid black;
}

p.propriety_label {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    margin-right: 10px;
    font-size: calc(15px + 1vw);
    align-self: center;
    justify-self: center;
    color: black;
}

p.value_label {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: calc(15px + 1vw);
    align-self: center;
    justify-self: center;
    word-break: break-word;
    color: #212121;
}

p.price_unit {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: calc(15px + 1vw);
    align-self: center;
    justify-self: center;
    color: #212121;
}

h3.amenities_identifier {
    font-family: 'JetBrains Mono', monospace;
    font-size: calc(15px + 1vw);
    font-weight: 500;
    color: #4b4b4b;
    -webkit-text-stroke: 1px #212121;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
}

input.datetime {
    align-self: center;
}

button.hour_item {
    margin: 3px;
    width: 35px;
    border-radius: 5px;
    color: #2c2c2c;
    -webkit-text-stroke: 2px #2a2929;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
}