@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500;700&display=swap");

div.location-selection-div {
    display: flex;
    flex-direction: row;
}

div.label-div {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

div.halls_container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

div.hall_element {
    display: inline-block;
    border-radius:5px;
    align-self:center;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 80%;
    height: fit-content;
    background: linear-gradient(to right, white, #cecece);
}

div.hall_element_inner{
    display:inline-block;
    width:100%;
    height:fit-content;
}

div.main_halls_container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

div.halls_container_inner {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

div.image_element_section {
    display: inline-block;
    width: 49.8%;
    margin-top: 5px;
    margin-left: 5px;
    height: calc(200px + 10vw);
    vertical-align: top;
}

div.details_element_section {
    display: inline-block;
    width: 49.8%;
    height: calc(200px + 10vw);
    vertical-align: top;
}

div.custom_carousel {
    display: flex;
    border-radius:5px;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

div.details_div{
    display:flex;
    flex-direction:column;
    width:100%;
    height:fit-content;
}

div.details_div_inner {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

div.details_div_inner_section {
    display:flex;
    flex-direction:row;
    margin-left:10px;
    margin-right:10px;
}

div.details_div_inner_sections {
    display: flex;
    flex-direction: column;
}

div.details_div_inner_sections_main{
    align-self:center;
    width:fit-content;
}

div.main_details_div {
    margin-top: 30px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

div.amenities_main_div {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

div.amenities_div {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-content: center;
    border-radius: 5px;
    margin-right: 10px;
    width: 100%;
    overflow-y: auto;
    background: linear-gradient(to right, #a4a4a4, #b1b0b0)
}

div.amenities_item {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    background: linear-gradient(to right, #5a5959, #828181);
    color: #ffffff;
    -webkit-text-stroke: 0.1px #6f6f6f;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
    word-wrap: break-word;
    width: 70%;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: calc(6px + 1vw);
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.amenities_main_sub_div {
    display:flex;
    flex-direction:column;
    align-content:center;
}

div.book_section {
    display:inline-block;
    width:100%;
    background-color:black;
    vertical-align:top;
}

div.reservation-div {
    border-radius: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    background: linear-gradient(to right, #5a5959, #828181);
}

div.reservation-content {
    display:flex;
    flex-direction:column;
    padding:50px;
    display: flex;
    align-self: center;
    width: fit-content;
}


h2.element_name {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    align-self: center;
    width: 90%;
    word-wrap: break-word;
    font-size: calc(20px + 1vw);
    text-align: center;
    color: #4b4b4b;
    -webkit-text-stroke: 1px #373737;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
}

select.select-location {
    margin-left: 15px;
    margin-right: 15px;
}

.left_selection_button {
    align-self: flex-start;
}

.right_selection_button {
    align-self: flex-end;
}

button.booking_button {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    margin-top: 30px;
    margin-bottom: 5px;
    align-self: center;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: calc(10px + 1vw);
    color: #ffffff;
    -webkit-text-stroke: 0.1px #6f6f6f;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
    background: linear-gradient(to right, #5a5959, #828181);
    border-radius: 6px;
    border-width: 0px;
}

p.propriety_label {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    margin-right: 10px;
    font-size: calc(10px + 1vw);
    align-self: center;
    justify-self: center;
    color: #4b4b4b;
    -webkit-text-stroke: 1px #212121;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
}

p.value_label {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: calc(10px + 1vw);
    align-self: center;
    justify-self: center;
    word-break: break-word;
    color: #2c2c2c;
    -webkit-text-stroke: 1px #0c0c0c;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
}

p.price_unit {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: calc(10px + 1vw);
    align-self: center;
    justify-self: center;
    color: #2c2c2c;
    -webkit-text-stroke: 1px #0c0c0c;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
}

input.datetime 
{
    align-self:center;
}