@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

div.location-selection-div {
    display: flex;
    flex-direction: row;
}

div.label-div {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

div.halls_container {
    display: flex;
    flex-direction: column;
    position: relative;
    align-self: center;
    justify-self: center;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background: linear-gradient(to right, rgba(255,255,255,0.4), rgba(220,220,220, 0.4));
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.9);
}

div.hall_element {
    padding: 15px;
    display: inline-block;
    align-self: center;
    width: 90%;
    height: fit-content;
    background: linear-gradient(to right, white, #d8d8d8);
    box-shadow: 12px 12px 18px 10px rgba(0, 0, 0, 0.9);
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.hall_element_inner{
    display:inline-block;
    width:100%;
    height:fit-content;
}

div.main_halls_container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

div.halls_container_inner {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

div.image_element_section {
    align-self:center;
    display: inline-block;
    width: 49.8%;
    height: calc(200px + 10vw);
    min-height: calc(200px + 10vw);
    vertical-align: top;
}

div.details_element_section {
    display: inline-block;
    width: 49.8%;
    height: calc(200px + 10vw);
    vertical-align: top;
}

div.custom_carousel {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 6px;
    border: solid 1px black ;
}

div.details_div{
    display:flex;
    flex-direction:column;
    width:100%;
    height:fit-content;
}

div.details_div_inner {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

div.details_div_inner_section {
    display:flex;
    flex-direction:row;
    margin-left:10px;
    margin-right:10px;
}

div.details_div_inner_sections {
    display: flex;
    flex-direction: column;
}

div.details_div_inner_sections_main{
    align-self:center;
    width:fit-content;
}

div.main_details_div {
    margin-top: 30px;
    width: 100%;
    display: inline-block;
    vertical-align: top;
}

div.date_picker {
    overflow-x: auto;
    overflow-y: auto;
    min-width: 250px;
}

div.amenities_item {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    margin:10px;
    padding: 5px;
    color: black;
    background: linear-gradient(to right, #fafafa, #e5e5e3);
    word-wrap: break-word;
    align-self: center;
    justify-self: center;
    text-align: center;
    font-size: calc(8px + 1vw);
    font-weight:600;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

div.amenities_identifier_div {
    position: sticky;
    border-radius: 4px;
    top: 0px;
    height: 50px;
    background: linear-gradient(to right,#bdbdbd, #a7a7a7);
    text-align: center;
}

div.book_section {
    display: inline-block;
    width: 100%;
    background-color: black;
    vertical-align: top;
}

div.reservation-div {
    background-color:white;
    width:fit-content;
    height:fit-content;
    border-radius: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-content: center;
}

div.reservation-content {
    display: flex;
    min-width: 250px;
    max-width: 400px;
    flex-direction: column;
    padding: calc(20px + 0.5vw);
    display: flex;
    align-self: center;
    width: fit-content;
}

div.hour_picker_div {
    display: flex;
    flex-direction: column;
}

div.hour_picker_row 
{
    align-self:center;
}

div.super_sub_section {
    display: inline-block;
    margin-bottom:10px;
}

div.main_sub_section {
    display: inline-block;
    margin-left: 20px;
}

div.sub_section {
    display: inline-block;
    margin-bottom: 0px;
}

div.datepicker_scroller {
    display:flex;
    flex-direction:column;
    align-self: center;
    height: 100vh;
    border-radius: 10px;
    min-width: 250px;
    max-width: 400px;
    overflow-y: auto;
    overflow-x: auto;
}

div.dropdown-menu-custom {
    position: absolute;
    border: solid 1px black;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, .5);
}

/* width */
.datepicker_scroller::-webkit-scrollbar {
    width: 0px;
}

h2.element_name {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    align-self: center;
    word-wrap: break-word;
    margin-top: 2px;
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: calc(30px + 1vw);
    text-align: center;
    color: black;
}

select.select-location {
    margin-left: 15px;
    margin-right: 15px;
}

.left_selection_button {
    align-self: flex-start;
}

.right_selection_button {
    align-self: flex-end;
}

p.propriety_label {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    margin-right: 10px;
    font-size: calc(12px + 1vw);
    align-self: center;
    justify-self: center;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}

p.value_label {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: calc(12px + 1vw);
    align-self: center;
    justify-self: center;
    word-break: break-word;
    color: #343434;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}

p.price_unit {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 500;
    font-size: calc(12px + 1vw);
    margin-left:10px;
    align-self: center;
    justify-self: center;
    color: #212121;
}

h3.amenities_identifier {
    font-family: 'JetBrains Mono', monospace;
    font-size: calc(15px + 1vw);
    font-weight: 500;
    color: #4b4b4b;
    -webkit-text-stroke: 1px #212121;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
}

p.note_op {
    font-family: 'JetBrains Mono', monospace;
    font-size: calc(12.2px);
    font-weight: bold;
    color: black;
}

p.total_price {
    align-self:center;
    margin-top: 30px;
    font-family: 'JetBrains Mono', monospace;
}

input.datetime {
    align-self: center;
}

button.booking_button {
    font-family: 'JetBrains Mono', monospace;
    margin-top: 45px;
    margin-bottom: 20px;
    font-weight: 700;
    align-self: center;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: calc(16px + 1vw);
    color: white;
    -webkit-text-stroke: 0.8px #212121;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
    background: linear-gradient(to right, #d3d1d1, #adadad);
    border-width: 0px;
    border: 2px solid black;
}

button.hour_item {
    margin: 3px;
    width: 35px;
    border-radius: 5px;
    color: #2c2c2c;
    -webkit-text-stroke: 2px #2a2929;
    text-shadow: calc(1px + 0.03vw) calc(1px + 0.05vw) 1px black;
}

button.calendar_booking_button {
    font-size: 25px;
    margin-top: 30px;
    align-self: center;
    width: fit-content;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left:50px;
    padding-right:50px;
    border-radius:5px;
    color: white;
    border: 1px solid black;
    background: linear-gradient(to right, #2c2c2c, #050505);
}


button.clear_dates {
    align-self:center;
    width:100%;
    font-family: 'JetBrains Mono', monospace;
    font-size: 16px;
    border-radius: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom:5px;
    color:white;
    background-color:black;
    margin-bottom:20px;
    border:solid 1px black;
}

button.dropdown_amenities_button {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 700;
    margin-left: 20px;
    font-size: calc(12px + 1vw);
    color: black;
    background: linear-gradient(to right, #f7f7f7, #e1e1e1);
    border-width: 0px;
    border: solid 1.5px black;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
}

