@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Roboto+Condensed:wght@100&display=swap');

h1.handwritten_page_title {
    align-self: center;
    font-family: 'Nunito', sans-serif;
    font-size: calc(25px + 2vw);
    background: linear-gradient( to right, #e5e5e5, #9a9a9a);
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

div.index_page_skeleton {
    display:flex;
    width:100%;
    flex-direction:column;
    align-self:center;
    justify-self:center;
    align-content:center;
}

div.main_index_page_panel_content {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-content: center;
    align-self: center;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
    background: linear-gradient(to right, #494848, #9a9a9a);
    opacity:0.5;
    overflow-y: auto;
    padding: 10px;
}

/* width */
.main_index_page_panel_content::-webkit-scrollbar {
    width: 10px;
}

/* Track */
.main_index_page_panel_content::-webkit-scrollbar-track {
    background: black;
    border-radius:10px;
}

/* Handle */
.main_index_page_panel_content::-webkit-scrollbar-thumb {
    background: #888;
    background-color: black; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid grey;
}

/* Handle on hover */
.main_index_page_panel_content::-webkit-scrollbar-thumb:hover {
    background: #555;
    background-color: white; /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid grey;
}

.custom_jumbotron {
    border-radius: 20px;
    width: 0%;
    margin-top: 30px;
    justify-self:flex-end;
    align-self: center;
    height:80vh;
}