div.main_page_structure {
    display: block;
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to right, #242424, 40%, #6d6c6c 75%);
    background: -moz-linear-gradient(to right, #333, 40%, #b4b2b2 75%);
    background: -webkit-linear-gradient(to right, #333, 40%, #b4b2b2 75%);
}

div.page_content_structure {
    height:100%;
    width:100%;
}

div.page_content {
    display: flex;
    flex-direction: column;
    align-self:center;
}
