@inherits LayoutComponentBase
@inject NavigationManager Navigation_Manager;
@inject IJSRuntime JS

<PageTitle>HallRentalSystem</PageTitle>
<div id="background_image" class="main_background_image_style"></div>
<div id="main_page_structure_div" class="main_page_structure">
    <div style="margin-bottom:10px;">
        <NavMenu/>
    </div>
    <main>
        <div class="page_content_structure">
            <div class="page_content">
                <div class="index_page_skeleton">
                    @Body
                </div>
            </div>
        </div>
    </main>
</div>
@code{
    private async void InitiateAnimations()
    {
        IJSObjectReference animations_module = await JS.InvokeAsync<IJSObjectReference>("import", "./Scripts/Animations.js");

        await animations_module.InvokeAsync<string>("SetBackgroundImage");

        await animations_module.InvokeAsync<string>("GradientFluctuationAnimationCancellation");
        await animations_module.InvokeAsync<string>("Clear_Background_Image_Sizing");
        await animations_module.InvokeAsync<string>("ClearExpansionAnimation", "main_page_structure_div");
        await animations_module.InvokeAsync<string>("Clear_Set_Button_Focus_Effect", "button_cover_1");
        await animations_module.InvokeAsync<string>("Clear_Set_Button_Focus_Effect", "button_cover_2");
        await animations_module.InvokeAsync<string>("Clear_Resize_Home_Page_Elements");
        await animations_module.InvokeAsync<string>("Clear_Resize_Contacts_Page_Elemets");

        await animations_module.InvokeAsync<string>("ExpansionAnimation", "index_page_jumbotron", "90", "10", "%");
        await animations_module.InvokeAsync<string>("GradientFluctuationAnimation", "main_page_structure_div", "40", "65", "50");
        await animations_module.InvokeAsync<string>("Set_Background_Image_Sizing");
        await animations_module.InvokeAsync<string>("Set_Resize_Home_Page_Elements");
        await animations_module.InvokeAsync<string>("Set_Resize_Contacts_Page_Elemets");
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (Program.Is_API_Testing_Mode == true)
            Navigation_Manager.NavigateTo("/swagger/index.html", forceLoad: true);
        InitiateAnimations();
    }
}
