@inherits LayoutComponentBase
@inject NavigationManager Navigation_Manager;

<PageTitle>HallRentalSystem</PageTitle>

<div class="main_page_structure">
    <div style="margin-bottom:10px;">
        <NavMenu/>
    </div>

    <main>
        <div class="page_content_structure">
            <div class="page_content">
                @Body
            </div>
        </div>
    </main>
</div>

@code{
    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (Program.Is_API_Testing_Mode == true)
            Navigation_Manager.NavigateTo("/swagger/index.html", forceLoad: true);
    }
}
