@    using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
    using HallRentalSystem.Classes.StructuralAndBehavioralElements;
@inject NavigationManager Navigation_Manager;
@inject ProtectedLocalStorage LocalStorage;
@inherits Shared_Data;

<nav class="navbar navbar-expand-lg navbar-dark bg-black">
    <a class="navbar-brand" style="margin-left:20px;" href="#">Hall Rentals</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" style="margin-left:20px;margin-right:20px;">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav" style="margin-left:20px;">
            <a class="nav-link active" href="#">Home</a>
            <a class="nav-link" href="#">Services</a>
            <a class="nav-link" href="#">Contacts</a>
            <a class="nav-link" href="#">@authentication_state</a>
        </div>
    </div>
</nav>

@code{
    protected override async void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (await Shared_Functions.AuthenticationStateManagerFunctions.Get_If_User_Is_Logged_In(LocalStorage) == true)
            StateHasChanged();
    }
}