
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="width:40%;align-self:center;">
    <div class="carousel-inner">
        @for (int i = 0; i < image_sources.Count; i++)
        {
            if(active == false)
            {
                <div class="carousel-item active" data-interval="3000">
                    <img src="@image_sources[i].Item1" class="d-block w-100" alt="@image_sources[i].Item2">
                </div>
                active = true;
            }
            else
            {
                <div class="carousel-item" data-interval="3000">
                    <img src="@image_sources[i].Item1" class="d-block w-100" alt="@image_sources[i].Item2">
                </div>
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public List<Tuple<string, string>> image_sources { get; set; } = new List<Tuple<string, string>>();
    public bool active = false;
}
