@inject IJSRuntime JS

<div id="index_page_jumbotron" class="jumbotron" style="background-color:black;border-radius:20px;width:0%;margin-top:20px;">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>

@code {
    protected override async void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        IJSObjectReference module = await JS.InvokeAsync<IJSObjectReference>("import", "./Scripts/Animations.js");
        var e =  await module.InvokeAsync<string>("ExpansionAnimation",  "index_page_jumbotron", "100", "10", "%" );
    }
}
