@inject IJSRuntime JS

<div id="index_page_jumbotron" class="jumbotron custom_jumbotron">
    <div class="main_index_page_panel_content">
        <div>
        </div>
    </div>
</div>

@code {
    protected override async void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        IJSObjectReference module = await JS.InvokeAsync<IJSObjectReference>("import", "./Scripts/Animations.js");
        var e =  await module.InvokeAsync<string>("ExpansionAnimation",  "index_page_jumbotron", "100", "10", "%" );
    }
}
