@using HallRentalSystem.Components;
@inject IJSRuntime JS

<div id="index_page_jumbotron" class="jumbotron custom_jumbotron">
    <div class="main_index_page_panel_content">
        <div class="main_index_page_panel_content_display_block">
            <div id="content_block_1" class="main_index_page_panel_content_block">
                <div class="main_index_page_panel_content_blocks">
                    <button class="main_page_button_1">
                        <div class="button_cover">
                            <p class="label">Booking</p>
                        </div>
                        @* <img src="https://images.unsplash.com/photo-1597053108350-0fe16904068b?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width:200px;background-size: cover;" /> *@
                    </button>

                    <button class="main_page_button_2">
                        <div class="button_cover">
                            <p class="label">Contacts</p>
                        </div>
                        @* <img src="https://images.unsplash.com/uploads/1413222992504f1b734a6/1928e537?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" style="width:200px;background-size: cover;" /> *@
                    </button>
                </div>
            </div>
            <div id="content_block_2" class="main_index_page_panel_content_block">
                <div class="main_index_page_panel_content_blocks">
                    <article class="main_article_style">
                        Are you in need of a perfect venue for your upcoming event? Look no further! Our hall rentals website is here to make your search for the ideal event space a breeze.
                        Are you in need of a perfect venue for your upcoming event? Look no further! Our hall rentals website is here to make your search for the ideal event space a breeze.
                        Are you in need of a perfect venue for your upcoming event? Look no further! Our hall rentals website is here to make your search for the ideal event space a breeze.
                        Are you in need of a perfect venue for your upcoming event? Look no further! Our hall rentals website is here to make your search for the ideal event space a breeze.
                        Are you in need of a perfect venue for your upcoming event? Look no further! Our hall rentals website is here to make your search for the ideal event space a breeze.
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public List<Tuple<string, string>> image_sources = new List<Tuple<string, string>>()
    {
        new Tuple<string, string>( "https://assets-global.website-files.com/5f5f802796e665f5a78839b3/64d7c58b42d2421f9c2c3d9a_64d524fa89cdd9b6bbe648ac_64904f72f7fb16d8aac66630_Party%2525252520Package.webp", "Nice hall"),
        new Tuple<string, string>( "https://images.prismic.io/storefront/6cce1106-627d-495d-8100-5e2936ce01f8_cheap_halls.jpg", "Nice hall"),
        new Tuple<string, string>( "https://imagedelivery.net/ePR8PyKf84wPHx7_RYmEag/015573c7-532e-4cbc-9b63-635eff4b1f00/86", "Nice hall"),
        new Tuple<string, string>( "https://sepan-banquet.com/wp-content/uploads/halls-for-rent-in-los-angeles-480x360.jpg", "Nice hall")
    };

    protected override async void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        IJSObjectReference module = await JS.InvokeAsync<IJSObjectReference>("import", "./Scripts/Animations.js");
        await module.InvokeAsync<string>("ExpansionAnimation",  "index_page_jumbotron", "90", "10", "%" );
    }
}
