@using HallRentalSystem.Classes.StructuralAndBehavioralElements.Stripe_Payment;
@using System.Text;
@inject IJSRuntime JS;

<div class="payment_confirmation_page_skeleton">
    <div class="payment_confirmation_page_content">
        <iframe class="payment_confirmation_iframe" src="@payment_session_result?.redirection_url" loading="lazy" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture; payment;"></iframe>
    </div>
</div>

@code {
    [Parameter] public PaymentSessionResult? payment_session_result { get; set; }
}
