@using HallRentalSystem.Classes;
@using System.Text;
@using Controllers;
@using HallRentalSystem.Classes.Models;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using HallRentalSystem.Components;
@using HallRentalSystem.Classes.StructuralAndBehavioralElements;
@using HallRentalSystem.Classes.API_Parameters;
@using HallRentalSystem.Classes.StructuralAndBehavioralElements.Formaters;
@inject IJSRuntime JS
@inject NavigationManager NavigationManager;
@inject ProtectedLocalStorage LocalStorage;
@page "/book"


<PageTitle>Booking</PageTitle>
<nav id="halls_nav" class="navbar navbar-light bg-light">
    <div class="label-div">
        <a class="navbar-brand" style="font-size:25px;">Location</a>
        <select @onchange=@((changed_value)=>LocationOnChange(changed_value?.Value?.ToString())) class="form-select select-location" aria-label="Default select example" style="width: 200px; height: 40px; font-size: 16px; padding: 5px 10px; border: 1px solid #ccc; border-radius: 4px;">
            <option selected>All</option>
            <option value="London">London</option>
            <option value="Crawley">Crawley</option>
            <option value="Liverpool">Liverpool</option>
            <option value="Manchester">Manchester</option>
        </select>
    </div>
</nav>

<div id="halls_container" class="halls_container">
    <div class="halls_container_inner">
        @for (int i = 0; i < halls?.Count; i++)
        {
            string element = "hall_element_" + i;
            <Hall_Element value="halls.ElementAt(i).Value" element="@element" />
        }
    </div>
</div>


@code{

    private Halls? halls = new Halls();
    public bool Loaded;

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (Loaded == false)
        {
            Loaded = true;
            LocationOnChange("All");
        }
    }

    public async void LocationOnChange(string location)
    {
        StringBuilder url_formatter = new StringBuilder();

        HttpClient client = new HttpClient();
        client.BaseAddress = new Uri(NavigationManager.BaseUri);

        if (location != "All")
        {
            url_formatter.Append("/halls/get-halls-page?");
            url_formatter.Append(System.Web.HttpUtility.UrlEncode("data"));
            url_formatter.Append("=");
            url_formatter.Append(System.Web.HttpUtility.UrlEncode(location));
        }
        else
        {
            url_formatter.Append("/halls/get-halls-page");
        }

        HttpResponseMessage response = await client.GetAsync(url_formatter.ToString());
        halls = Newtonsoft.Json.JsonConvert.DeserializeObject<Halls>(await response.Content.ReadAsStringAsync());
        StateHasChanged();
    }

    public void Render_Halls()
    {

    }
}