@inject IJSRuntime JS;
@page "/contacts"

<div id="contacts_page_jumbotron" class="jumbotorn contacts_jumbotron">
    <div class="contacts_container">
        <h1 class="contacts_page_heading">Contact us</h1>
        <div class="contacts_main_container">
            <div id="main_container_segment_1" class="main_container_segment">
                <div class="main_container_segment_content">
                    <div id="location_map" class="location_map"></div>
                </div>
            </div>
            <div id="main_container_segment_2" class="main_container_segment">
                <div class="main_container_segment_content">
                    <div class="contact_details">
                        <div class="contact_details_section">
                            <h2 class="contact_details_section_heading">
                                Address
                            </h2>

                            <p class="contact_details_section_detail">
                                1-3 Chicheley St, Greater, London SE1 7PY
                            </p>
                        </div>

                        <div class="contact_details_section">
                            <h2 class="contact_details_section_heading">
                                Email address
                            </h2>

                            <p class="contact_details_section_detail">
                                hallrentals@gmail.com
                            </p>
                        </div>

                        <div class="contact_details_section">
                            <h2 class="contact_details_section_heading">
                                Phone number
                            </h2>

                            <p class="contact_details_section_detail">
                                +447111222333
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        IJSObjectReference module = await JS.InvokeAsync<IJSObjectReference>("import", "./Scripts/GoogleMaps.js");
        await module.InvokeAsync<string>("initLocationMap");
    }
}
