@using Classes.DTO;
@using System.Text;
@using Controllers;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using HallRentalSystem.Components;
@inject IJSRuntime JS
@inject NavigationManager Navigation_Manager;
@inject ProtectedLocalStorage LocalStorage;
@inherits Classes.Shared_Data;
@page "/"

<PageTitle>Home</PageTitle>


<div class="index_page_skeleton">
    <h1 class="handwritten_page_title">Hall Rentals</h1>
    <Expandable_Home_Page_Container/>
</div>



@code{
    protected override async void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);

        if (await Shared_Functions.AuthenticationStateManagerFunctions.Get_If_User_Is_Logged_In(LocalStorage) == true)
            StateHasChanged();
    }
}