@using HallRentalSystem.Classes;
@using System.Text;
@using Controllers;
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using HallRentalSystem.Components;
@using HallRentalSystem.Classes.StructuralAndBehavioralElements;
@using HallRentalSystem.Classes.API_Parameters;
@using HallRentalSystem.Classes.StructuralAndBehavioralElements.Formaters;
@inject IJSRuntime JS
@inject NavigationManager Navigation_Manager;
@inject ProtectedLocalStorage LocalStorage;
@page "/sign-up"

<PageTitle>Sign up</PageTitle>

<div id="auth_jumbotron" class="jumbotron auth_jumbotron">
    <div class="main_auth_container">

        @* SIGN UP PAGE TITLE *@
        <h1 class="auth_page_header">
            Sign Up
        </h1>

        @* EMAIL INPUT FIELD *@
        <AuthPanel label="Email" placeholder="Enter your email address" IsPassword=false InputId="email_input" />

        @* PASSORD INPUT FIELD *@
        <AuthPanel label="Password" placeholder="Enter your password" IsPassword=true InputId="password_input" />

        @* PASSWORD REPEAT INPUT FIELD *@
        <AuthPanel label="Re-Password" placeholder="Enter your password" IsPassword=true InputId="re_password_input" />

        @* SIGN UP AND LOG IN PAGE NAVIGATION FIELD *@
        <AuthAction TransistiveButton="Already have an account? Click here to log in." ActionButton="Register" TransitionTarget="/log-in" />
    </div>
</div>

@code {
    protected override async void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        IJSObjectReference module = await JS.InvokeAsync<IJSObjectReference>("import", "./Scripts/Actions.js");
        await module.InvokeAsync<string>("ChangeNavState");
    }
}
